/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    color: var(--text-main);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
   
}

.nav{
    /* height: 630px; */
}

.main{
    background-color: rgb(51,49,48);
}

.nav.nav--left{
    margin-left: -1px;
    border: 1px solid #424242;
    border-left: none;
}

.nav.nav--right{
    margin-right: -1px;
    border-left: 1px solid #424242;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
   
    padding: 32px 0;
    margin-left: 20px;
    position: relative;
}

.nav__body::before, .nav__body::after{
    content: "";
    left: 15px;
    width: 160px;
    height: 0.5px;
    background-color: #424242;
    position: absolute;
    margin: 0 auto;
}

.nav__body::before{
    top: 0;
}

.nav__body::after{
    bottom: 0;
}



.nav-list__item{
    margin-bottom: 8px;
    font-size: 1.4rem;
    color: rgb(111, 109, 114);
}

.nav-list__item a{
    padding: 16px;
    width: 120px;
    display: block;
    border-radius: 8px;
    
}

.nav-item__icon{
    margin-right: 8px;
    color: inherit;
}

.nav-item__link:hover{
   background-color: rgb(88,84,93);
   color: var(--text-main);
}

.logo{
   height: 90px;
   display: flex;
   align-items: center;
   font-size: 1.8rem;
   font-weight: 500;
   margin-left: 20px;
}


.logo__icon{
    margin-right: 8px;
    color: #617caa;
}

.logo__link{
    padding: 16px;
}

.exit{
    height: 90px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.btn{
    width: 120px;
    padding: 16px;
    border-radius: 8px;
    font-size: 1.2rem;
    
}

.btn.btn--main{
    background-color:rgb(88,84,93);
}

.btn:hover{
    cursor: pointer;
}

.btn.btn--no-background{
    background-color: transparent;
}

#add__icon{  
    border-radius: 50%;
    color: black;
    background-color: white;   
    font-size: 0.8rem;
}

#off__icon{
    color: red;
    
}

.exit .btn{
    font-size: 1.4rem; 
}

.icon{
    padding: 6px;
    margin-right: 8px; 
}

.nav--right .nav-item__icon{
    padding: 16px;
    margin: 0;
    font-size: 1.6rem;
    color: var(--text-main);
    opacity: 0.8;
    border-radius: 8px;
}

.nav--right .nav-item__icon:hover{
    opacity: 1;
    cursor: pointer;
    background-color: rgb(88,84,93);;
}

.content{
    
}

.content__header{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px;
}

.user{
    display: inline-flex;
    align-items: center;
}

.user__avt{
    display: block;
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
